@model GitHired_MVC.Models.Board;
@using GitHired_MVC.Models;
@{
            Layout = "_Layout";
        }
<body>
    <p class="flex-row-container">
        <form asp-controller="Search" asp-action="Index" method="post" class="center">
            <label class="search-text">Find and Add <span class="jobs bold">Jobs</span>: </label>
            <input name="searchString" class="search-input" placeholder="Search by Title, Company, Wage, etc."/>
            <button type="submit" class="search-button button">SEARCH</button>
        </form>
    </p>
    <div class="board-container center">
        @foreach (var item in Model.Column)
        {
            <div class="board-label">
                <h3 class="black-gradient">@item.Name</h3>
            </div>
        }
    </div>
    <div class="board-container pad-bottom-s">
        @foreach (Column column in Model.Column)
        {
        <div class="column grey-thick scrollable hover-shadow pad-top-xs">
            @if (column.Card.Count > 0) {
            foreach (Card card in column.Card)
            {
            <div class="grey card center">
                <table class="center pad-left-xs pad-right-xs auto-margin pad">
                    <tr class="align-left card-text">
                        <td class="pad-top-s pad-bottom-xs bold pad-left-xs">Job Title: </td>
                        <td class="pad-left-xs">@card.JobTitle</td>
                    </tr>
                    <tr class="align-left">
                        <td class="pad-bottom-xs bold card-text pad-left-xs">Company: </td>
                        <td class="pad-left-xs card-text">@card.CompanyName</td>
                    </tr>
                    <tr class="align-left">
                        <td class="pad-bottom-xs bold card-text pad-left-xs">Wage: </td>
                        <td class="pad-left-xs card-text">@card.Wage</td>
                    </tr>
                    <tr class="align-left">
                        <td class="pad-bottom-xs bold card-text pad-left-xs">Resume?: </td>
                        <td class="pad-left-xs card-text">
                            @if (card.ResumeCheck == true)
                            {
                                <p>Added</p>
                            }
                            else
                            {
                                <p>Not Added</p>
                            }
                        </td>
                    </tr>
                    <tr class="align-left">
                        <td class="pad-bottom-xs bold card-text pad-left-xs">Cover Letter?: </td>
                        <td class="pad-left-xs card-text">
                            @if (card.CoverLetterCheck == true)
                            {
                                <p>Added</p>
                            }
                            else
                            {
                                <p>Not Added</p>
                            }
                        </td>
                    </tr>
                </table>
                <div class="center flex-row-container">
                    @if (column.Order == 1)
                    {
                        <span></span>
                    }
                    else
                    {
                        <form asp-controller="Card" asp-action="MoveCardLeft" asp-route-id="@card.ID">
                            <input type="submit" value="<<" class="back-button">
                        </form>
                    }
                    <form asp-controller="Card" asp-action="Delete" asp-route-id="@card.ID">
                        <input type="submit" value="REMOVE" class="delete-button">
                    </form>
                    @if (column.Order == 4)
                    {
                        <span></span>
                    }
                    else
                    {
                        <form asp-controller="Card" asp-action="MoveCardRight" asp-route-id="@card.ID">
                            <input type="submit" value=">>" class="advance-button">
                        </form>
                    }
                </div>
                <div class="center">
                    <form asp-controller="Card" asp-action="Index" asp-route-id="@card.ID">
                        <input type="submit" value="VIEW JOB CARD" class="button" />
                    </form>
                </div>
            </div>
                }
            }
        </div>
        }
    </div>
</body>
